<!DOCTYPE html>
<html lang="en">
    <head>
        <title>George Alexander</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/assets/style.css">
        <link rel="stylesheet" href="/assets/index.css">
        <base target="_blank">
    </head>

    <body>
        <h1 class="title-name">George Alexander</h1>
        <p>View all my public repositories available on <a href="https://github.com/TheGeorgeAlexander">GitHub</a> below. This website is one of these repositories, you can view it <a href="https://github.com/TheGeorgeAlexander/george-alexander.dev">here</a>.</p>
        <hr>
        <div class="repo-container">
            ${renderIf(data.error, `<p class="error">${data.error}</p>`)}

            ${forEach(data.githubData, repo => `
                <a href="${repo.html_url}" class="repo-card">
                    <div class="repo-header">
                        <h2>${repo.name}
                            <svg viewBox="0 0 24 24" fill="none" stroke="var(--first-accent)" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                                <path d="M18 13v6a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h6"></path>
                                <polyline points="15 3 21 3 21 9"></polyline>
                                <line x1="10" y1="14" x2="21" y2="3"></line>
                            </svg>
                        </h2>
                    </div>
                    <p class="repo-description">${repo.description ?? "<i>No description available.</i>"}</p>
                    <div class="repo-stats">
                        <span>${repo.stargazers_count} star${repo.stargazers_count == 1 ? "" : "s"}</span>
                        <span>${repo.forks_count} fork${repo.forks_count == 1 ? "" : "s"}</span>
                        <span>${data.formatSize(repo.size)}</span>
                    </div>
                    <p class="repo-language">Mainly written in <strong>${repo.language ?? "Unknown"}</strong></p>
                    <p class="repo-updated">Updated ${data.timeAgo(new Date(repo.updated_at))}</p>
                </a>
            `)}
        </div>
    </body>
</html>
